
<!DOCTYPE html>
<html>
    <head>
        <title>Transformer Outage</title>
        <link rel="stylesheet" href="style.css">
		<style>
			body  {
				background: -webkit-linear-gradient(#93B874, #C9DCB9); 
				background: -o-linear-gradient(#93B874, #C9DCB9); 
				background: -moz-linear-gradient(#93B874, #C9DCB9); 
				background: linear-gradient(#93B874, #C9DCB9); 
				background-color: #93B874;
				background-repeat: no-repeat; /* Add this line */
		    }
		</style>
    </head>

    <body>
          
        <main>
            <section id="hero">
                <div class="section-inner">
                    <h2>Transformer Prediction : <h2>
                    <h1>{{ prediction }}</h1>
                </div>
            </section>
          
        </main>
        
    </body>
</html>
